# Flutter
/build/
/.dart_tool/
/.packages
.pub-cache/

# Android
/android/.gradle/
/android/local.properties
/android/app/build/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/App.framework

# IDE
.vscode/
.idea/
*.log
